/* Importing the google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

nav{
    background: rgb(38, 12, 41);
    color: #fff;
    height: 65px;
    padding: 0 15px;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box{
    border: 2px solid #000;
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover{
    background-color: #ecf0f1;
    cursor: pointer;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
 
.info{
    font-size: 22px;
}

#reset{
    margin: 0 10px;
    padding: 3px 12px;
    background: #ebe4eb;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
}

/* Border Classes */
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.winning-line{
    background-color: blueviolet;
    height: 3px;
    position: absolute;
    width: 0;
    transition: width 1s ease-in-out;
}

/* Media Queries for the responsiveness of the website */
@media screen and (max-width: 700px){
    .gameContainer{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .container{
        margin-top: 20px;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    .winning-line{
        display: none;
    }
}

@media screen and (max-width: 503px){
    .gameInfo h1{
        font-size: 2rem;
    }
}
